In [3]:
import numpy as np

In [7]:
arr = np.array([1,2,3,4,5])
print(arr)
print(type(arr))
np.__version__

[1 2 3 4 5]
<class 'numpy.ndarray'>

'2.0.2'

In [15]:
a1 = np.array([[[1,2,3,4,5], [1,2,3,4,5], [1,2,3,4,5]],[[1,2,3,4,5], [1,2,3,4,5], [1,2,3,4,5]]])
a1.shape

(2, 3, 5)

In [16]:
a1.ndim

3

In [32]:
a1.dtype

dtype('int64')

In [22]:
import pandas as pd

Cars = pd.Series(['BMW','BE 6E','XEV 9E'])
Cars

0       BMW
1     BE 6E
2    XEV 9E
dtype: object

In [20]:
colors = pd.Series(['White', 'Misty Orange', 'Ultimate Red'])
colors

0           White
1    Misty Orange
2    Ultimate Red
dtype: object

In [23]:
Data = pd.DataFrame({'Car': Cars, 'Color': colors})
Data

      Car         Color
0     BMW         White
1   BE 6E  Misty Orange
2  XEV 9E  Ultimate Red

In [26]:
Carss = pd.read_csv("Cars.csv")
Carss

             Make       Model  Year  Price   Color  Mileage
0          Toyota     Corolla  2019  18000     Red    25000
1           Honda       Civic  2020  22000    Blue    15000
2            Ford       Focus  2018  17000   White    30000
3       Chevrolet      Malibu  2021  24000   Black    10000
4             BMW    3 Series  2017  25000  Silver    45000
5            Audi          A4  2016  23000    Gray    50000
6           Tesla     Model 3  2022  35000   White     5000
7          Nissan      Altima  2019  21000   Green    20000
8         Hyundai     Elantra  2020  19000  Yellow    22000
9             Kia      Optima  2018  16000    Blue    35000
10  Mercedes-Benz     C-Class  2021  37000   Black     8000
11          Mazda           3  2020  20000     Red    18000
12           Jeep    Wrangler  2017  27000  Orange    40000
13     Volkswagen        Golf  2019  21000   White    27000
14           Ford       F-150  2021  45000    Blue    12000
15      Chevrolet     Equinox  2020  26000   Black    15000
16       Chrysler    Pacifica  2021  32000  Silver     5000
17          Honda      Accord  2018  20000   Green    30000
18         Toyota  Highlander  2020  35000    Gray    12000
19         Subaru     Outback  2019  23000  Yellow    28000

In [27]:
Carss.head(3)

     Make    Model  Year  Price  Color  Mileage
0  Toyota  Corolla  2019  18000    Red    25000
1   Honda    Civic  2020  22000   Blue    15000
2    Ford    Focus  2018  17000  White    30000

In [28]:
Carss.tail(3)

      Make       Model  Year  Price   Color  Mileage
17   Honda      Accord  2018  20000   Green    30000
18  Toyota  Highlander  2020  35000    Gray    12000
19  Subaru     Outback  2019  23000  Yellow    28000

In [29]:
Carss.shape

(20, 6)

In [31]:
Carss.iloc[3]

Make       Chevrolet
Model         Malibu
Year            2021
Price          24000
Color          Black
Mileage        10000
Name: 3, dtype: object